@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Nova+Flat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nova Flat", cursive;
}

body {
  margin: 0;
  padding: 0;
  background: 100vw 100vh url("ModelsBGa.jpg");
}

.cont {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 50px 0px;
  margin-left: 8vw;
  transform-style: preserve-3d;
  flex-wrap: wrap;
}

.cont .box {
  position: relative;
  width: 350px;
  height: 300px;
  margin: 20vh auto;
  background: #ffffff;
}

.cont .box:hover {
  box-shadow: 0 50px 80px rgba(88, 88, 88, 0.5);
}
.cont .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cont .box .imgBx img {
  width: 350px;
  height: 300px;
}

.cont .box .contentBx {
  position: absolute;
  top: 60%;
  background: #f5be93;
  color: #444444;
  letter-spacing: 2px;
  text-align: center;
  box-shadow: 5px 10px rgba(0, 0, 0, 0.3);
  transform: translateZ(200px) scaleX(0);
  padding: 40px 25px;
  transform-origin: top;
  transition: 0.5s;
  transform-style: preserve-3d;
}

.cont .box:hover .contentBx {
  transform: translateZ(200px) scaleX(1);
}

.btn {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.btn .button {
  position: relative;
  padding: 10px 30px;
  border: 2.5px solid #ffffff;
  border-radius: 10px;
  font-size: 28px;
  margin: 30px;
  font-family: "Bangers";
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 3px;
  transition: 0.6s;
  overflow: hidden;
}

.btn .button:hover {
  border-color: rgb(251, 255, 0);
  color: #fffb00;
}

.btn span {
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #494949;
  transition: width 0.5s, height 0.5s;
  z-index: -1;
  overflow: hidden;
}

.btn:hover span {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
